<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SnapForService</title>
</head>
<body>
<div>
    <center>
        <h1>
            Welcome to !Snap.For.Service!
        </h1>
        <br><br><br>
        <a href="{% url 'signupuser' %}">
            <input type="submit" value="signup">
        </a>

        <a href="{% url 'loginuser' %}">
            <input type="submit" value="Login">
        </a>
        <br>
        {% if messages %}
            {% for msg in messages %}
                <span style="color:green;">
                    {{msg}}
                </span>
            {% endfor %}
        {% endif %}

    </center>
</div>


</body>
</html>